// $data['classname'] implementa Command
public class $data['classname'] implements $data['ICommand'] {
    private String scriptPath;

    public ${data['classname']}(String scriptPath) {
        this.scriptPath = scriptPath;
    }

    @Override
    public void execute() {
        try {
            ProcessBuilder builder = new ProcessBuilder("/bin/bash", this.scriptPath);
            builder.inheritIO();
            Process process = builder.start();
            process.waitFor();
        } catch (Exception e) {
            System.out.println("Error executing the bash script: " + e.getMessage());
        }
    }
}
