public class $className implements Shape {
    public double $paramName;

    public ${className}(double $paramName) {
        this.$paramName = $paramName;
    }

    @Override
    public void accept(ShapeVisitor visitor) {
        visitor.visit(this);
    }
}
