// $data['classname'] implementa Command para o $data['target']
public class ${data['classname']} implements ${data['ICommand']} {
    private $data['target'] $data['target'].lower();

    public ${data['classname']}(${data['target']} ${data['target'].lower()}) {
        this.${data['target'].lower()} = ${data['target'].lower()};
    }

    @Override
    public void execute() {
        ${data['target'].lower()}.${data['action']}();
    }
}
