// Classe Main para demonstrar o uso do Command
public class Main {
    public static void main(String[] args) {
        ${data['Invoker']} invoker = new ${data['Invoker']}();


        invoker.setCommand(lightOn);
        invoker.pressButton();

        invoker.setCommand(lightOff);
        invoker.pressButton();

        invoker.setCommand(fanOn);
        invoker.pressButton();

        invoker.setCommand(fanOff);
        invoker.pressButton();
    }
}
