// Classe Main para demonstrar o uso do Visitor
public class Main {
    public static void main(String[] args) {
        ${data['IElements']}[] ${data['IElements'].lower()}s = {
#for $index in range(len($data['Element']))
            new ${data['Element'][$index]['name']}(5)${',' if $index < len($data['Element']) - 1 else ''}
#end for
        };
        ${data['Visitor']} ${data['Visitor'].lower()} = new ${data['Visitor']}();

        for (${data['IElements']} ${data['IElements'].lower()} : ${data['IElements'].lower()}s) {
            ${data['IElements'].lower()}.accept(${data['Visitor'].lower()});
        }
    }
}
