// Concrete Visitor que desenha as formas
public class $data['Visitor'] implements $data['IVisitor'] {
#for $e in $data['Element']
    @Override
    public void visit($e['name'] $e['name'].lower()) {
        System.out.println("Desenhando um  ${e['name']} " + " de dimensão "+ ${e['name'].lower()}.${e['paramName']} + ".");
    }
#end for
}

